body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #2aee10;
}

header, nav, main, footer {
    padding: 20px;
    margin: 10px;
}

header {
    background: #000000;
    color: #fff;
    text-align: center;
}

nav {
    background: #16df08;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #0cddcf;
    text-decoration: none;
}

article {
    background: #0c0d5d;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
}
